html, body {
	width: 100%;
}
body {
	background-image: url(../images/background.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

::-webkit-scrollbar-track-piece {
	background: transparent !important;
}	

/*

.maindiv {
	width: 80%;
	margin: auto;
	border: 1px solid black;
	padding: 1% 1%;
	background-color: white;
	opacity: 60%;
}

.menudiv {
	width: 20%;
	border: 1px solid red;
}

.content {
	width: 80%;
	border: 1px solid red;
}

*/
p {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}	

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Geneva, sans-serif;
}

.responsive {
	margin: auto;
	width: 67%;
}	

.logobar {
	height: 33vh;
}	

.character {
	width: 259px;
}	

.logo {
	width: 40%;
}	

.w3-bar {
	
	/*background: RGBA(255, 255, 255, 0.6);*/
}

.w3-bar a {
	background-color: transparent;
	color: orange;
	font-size: 1vw;
}
	
#content {
	/* border: 1px solid red; */
}

.leftpart a {
	width: 100%;
	margin: 10px auto 0;
}	

.panel {
	padding: 1%;
}

.leftpart {
	padding: 2% 1% 2% 2%;
}

.rightpart {
	padding: 0 2% 2% 1%;
}	

.cover {
	width: 100%;
}	

.sitelogo {
	height: 28px;
}	

.special {
	padding: 3% 3% 0;
	color: white;
}	

@media only screen and (min-width: 100px) and (max-width: 1200px)	{
	.responsive {
		width: 100%
	}
}

@media only screen and (max-width: 600px) {
	.character {
		display: none;
	}	
	
	.logobar {
		height: 100px;
	}

	.logo {
		width: 80%;
	}	
}	