html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-image: url(../images/bg_light.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	line-height: 1;
	color: white;
}

.dark {
	background-image: url(../images/bg_dark.jpg);
	color: yellow !important;
}	

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
	background: #888; 
}

::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

::-webkit-scrollbar-track-piece {
	background: transparent !important;
}	

p {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}	

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Geneva, sans-serif;
}

.responsive {
	margin: auto;
	width: 70%;
}	

.logobar {
	margin-top: 10px;
	height: 33vh;
}	

.character {
	width: 259px;
}	

.logo {
	width: 50%;
	vertical-align: baseline;
}	
	
.leftpart a {
	width: 100%;
	padding: 3%;
	margin: 10px auto 0;
}	

.panel {
	padding: 1%;
}

.leftpart, .leftmusic {
	padding: 2% 1% 2% 2%;
}

.rightpart, .rightmusic {
	padding: 0 2% 2% 1%;
}	

.sitelogo {
	height: 30px;
}	

.cover {
	width: 100%;
}	

.special {
	padding: 3% 3% 0;
	margin-bottom: 0;
}

.temporary {
	margin-bottom: 16px;
}	

.footer-logo {
	width: 48px;
	height: 48px;
}	

.listen {
	margin-top: 6px;
	padding: 4px 2px !important;
}	

.leftmusic, .rightmusic {
	width: 50%;
}	

.text-white {
	color: white !important;
}	

.text-yellow {
	color: yellow !important;
}	

.text-orange {
	color: orange !important;
}	

@media (max-width: 1599.98px) {
	.responsive {
		width: 98%;
	}

	.logobar {
		height: 40ph;
	}
	
	.logo {
		width: 40%;
	}	

	.character {
		width: 200px;
	}	
}	

@media (max-width: 1199.98px) {
	
}

@media (max-width: 991.98px) {
	
}

@media (max-width: 767.98px) {
	.logobar {
		height: 40vh;
	}	
	
	.character {
		width: 190px;
	}

	.lb {
		display: none !important;
	}

	.sb {
		display: block !important;
	}	
}	
	
@media (orientation: portrait) {
	.logobar {
		height: 30vh;
	}

	.character {
		width: 220px;
	}	

	.w3-container, .w3-panel {
		padding: 0.01em 8px;
	}

	.logo {
		width: 40%;
	}	
	
	.lb {
		display: none !important;
	}

	.sb {
		display: block !important;
	}	
}	

 

