html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-image: url(../images/bg_light.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	line-height: 1;
}

.dark {
	background-image: url(../../images/bg_dark.jpg);
}	

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
	background: #888; 
}

::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

::-webkit-scrollbar-track-piece {
	background: transparent !important;
}	

p {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}	

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Geneva, sans-serif;
}

.responsive {
	margin: auto;
	width: 70%;
}	

.logobar {
	margin-top: 10px;
	height: 33vh;
}	

.character {
	width: 259px;
}	

.logo {
	width: 50%;
	vertical-align: baseline;
}	
	
.leftpart a {
	width: 100%;
	padding: 3%;
	margin: 10px auto 0;
}	

.panel {
	padding: 1%;
}

.leftpart, .leftmusic {
	padding: 2% 1% 2% 2%;
}

.rightpart, .rightmusic {
	padding: 0 2% 2% 1%;
}	

.sitelogo {
	height: 30px;
}	

.cover {
	width: 100%;
}	

.special {
	padding: 3% 3% 0;
	margin-bottom: 0;
}

.temporary {
	margin-bottom: 16px;
}	

.footer-logo {
	width: 48px;
	height: 48px;
}	

.listen {
	margin-top: 6px;
	padding: 4px 2px !important;
}	

.leftmusic, .rightmusic {
	width: 50%;
}	

.w3-indigo {
	color: yellow !important;
}

.w3-dark-grey {
	color: orange !important;
}	

#side {
	color: white;
}
	
@media screen and (max-width: 1500px) and (orientation: landscape){	
	.character {
		width: 180px;
	}	
	
	.responsive {
		width: 90%;
	}	
}	

@media screen and (max-width: 1500px) and (orientation: portrait){
	.responsive {
		width: 100%;
	}	
	
	.logobar {
		height: 22vh;
	}	
	
	.character {
		width: 22vw;
	}	
	
	.special p {
		font-size: 16px;
	}	
}	
