<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta property="og:locale" content="ru_RU"/>
		<meta property="og:title" content="Фан-сайт Альфы и Омеги"/>
		<meta property="og:description" content="Фан-сайт, посвящённый мультипликационной серии 'Альфа и Омега'" />
		<meta property="og:type" content="article"/>
		<meta property="og:url" content="https://fans-alphaandomega.github.io"/>
		<meta property="og:image" content="https://fans-alphaandomega.github.io/img/og.png"/>
		<meta property="vk:image" content="https://fans-alphaandomega.github.io/img/og.png"/>
		<title>Фан-сайт Альфы и Омеги</title>
		<link rel="icon" href="img/favicon.png" type="image/png" sizes="32x32">
		<link rel="stylesheet" href="css/w3.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/vue.min.js"></script>
		<script>
			function detectDevice() {
				var x = document.getElementById("wrapper");
				var y = document.getElementById("sorry");
				if (screen.width < 320 || screen.height < 320) {
					isSmall = true;
					x.classList.toggle("w3-hide");
					y.classList.toggle("w3-hide");
				}	
				var isApple = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
				if (isApple) {x.classList.toggle("ibody");}
				else {x.classList.toggle("body");}
			}
		</script>
	</head>
	<body onload="detectDevice()">
		<div id="wrapper" ref="wrapper">
			<header class="w3-row w3-hide-small responsive">
				<img src="img/header-big.png" class="w3-col w3-hide-small" style="width: 100%; height: 100%; padding: 2%">
			</header>
					
			<main class="w3-row responsive" id="main">
				<nav class="w3-teal w3-bar w3-hide-small w3-hide-medium" style="font-size: 20px">
					<button class="w3-bar-item w3-button" v-on:click="openPage(0)">Главная</button>
					<button class="w3-bar-item w3-button" v-on:click="openPage(1)">Персонажи</button>
					<button class="w3-bar-item w3-button" v-on:click="openPage(2)">Саундтрек</button>
					<button class="w3-bar-item w3-button w3-right moon" v-show="buttonIndex === 0" v-on:click="darkMode">Активировать тёмную тему</button>
					<button class="w3-bar-item w3-button w3-right sun" v-show="buttonIndex === 1" v-on:click="lightMode" style="display: none">Активировать светлую тему</button>
					<button class="w3-bar-item w3-button w3-right" v-on:click="openPage(3)">О сайте</button>
				</nav>
			
				<nav class="w3-bar w3-teal w3-hide-large">
					<div class="w3-bar-item w3-left navlogo w3-hide-medium"><img src="img/header-nav-logo.png" class="size"></div>
					<button class="w3-bar-item w3-button w3-left" v-on:click="openPage(3, 'О сайте')"><img src="img/nav-about-y.png" class="size color filter"></button>
					<button class="w3-bar-item w3-button w3-left moon" v-show="buttonIndex === 0" v-on:click="darkMode"><img src="img/nav-darktheme.png" class="size"></button>
					<button class="w3-bar-item w3-button w3-left sun" v-show="buttonIndex === 1" v-on:click="lightMode"><img src="img/nav-lighttheme.png" class="size"></button>
					<button class="w3-bar-item w3-button w3-right" v-on:click="openPage(2, 'Саундтрек')"><img src="img/nav-ost-y.png" class="size color filter"></button>
					<button class="w3-bar-item w3-button w3-right" v-on:click="openPage(1, 'Персонажи')"><img src="img/nav-characters-y.png" class="size color filter"></button>
					<button class="w3-bar-item w3-button w3-right" v-on:click="openPage(0, 'Главная')"><img src="img/nav-main-y.png" class="size color filter"></button>
				</nav>
								
				<section class="w3-col w3-container m8 l8 page-left" v-show="pageIndex === 0">
					<div class="w3-teal w3-panel w3-border w3-center w3-round-xlarge w3-hide-large">
						<h1>Главная</h1>
					</div>
					
					<movie-post
						v-for="movie in movies"
						v-bind:key="movie.id"
						v-bind:movie="movie"
					></movie-post>	
				</section>
				
				<section class="w3-col w3-container m8 l8 s12 page-left" v-show="pageIndex === 1">
					<div class="w3-teal w3-panel w3-border w3-center w3-round-xlarge w3-hide-large">
						<h1>Персонажи</h1>
					</div>
					<div class="w3-teal w3-panel w3-border w3-row w3-round-xlarge" id="bio" ref="bio">
						<div class="w3-row" id="avatar">
							<img src="img/char-kate.png" v-on:click="getBio(1)" class="w3-quarter w3-round char">
							<img src="img/char-humphrey.png" v-on:click="getBio(2)" class="w3-quarter w3-round char">
							<img src="img/char-lilly.png" v-on:click="getBio(3)" class="w3-quarter w3-round char">
							<img src="img/char-garth.png" v-on:click="getBio(4)" class="w3-quarter w3-round char">
						</div>
						<div class="w3-row" id="avatar">
							<img src="img/char-winston.png" v-on:click="getBio(5)" class="w3-quarter w3-round char">							
							<img src="img/char-eve.png" v-on:click="getBio(6)" class="w3-quarter w3-round char">							
							<img src="img/char-hutch.png" v-on:click="getBio(7)" class="w3-quarter w3-round char">
							<img src="img/char-candu.png" v-on:click="getBio(8)" class="w3-quarter w3-round char">											
						</div>
						
						<div>
							<img class="slide w3-round" v-bind:src="'img/slider-' + bio[currentChar].picture + '1.jpg'" ref="info">
							<img class="slide w3-round" v-bind:src="'img/slider-' + bio[currentChar].picture + '2.jpg'" style="display:none">
							<img class="slide w3-round" v-bind:src="'img/slider-' + bio[currentChar].picture + '3.jpg'" style="display:none">
							<img class="slide w3-round" v-bind:src="'img/slider-' + bio[currentChar].picture + '4.jpg'" style="display:none">
								
							<div class="w3-row" style="margin-top: 5px">
								<img class="demo w3-quarter w3-round w3-opacity w3-hover-opacity-off" v-bind:src="'img/slider-' + bio[currentChar].picture + '1.jpg'" v-on:click="showDivs(1)">
								<img class="demo w3-quarter w3-round w3-opacity w3-hover-opacity-off" v-bind:src="'img/slider-' + bio[currentChar].picture + '2.jpg'" v-on:click="showDivs(2)">
								<img class="demo w3-quarter w3-round w3-opacity w3-hover-opacity-off" v-bind:src="'img/slider-' + bio[currentChar].picture + '3.jpg'" v-on:click="showDivs(3)">
								<img class="demo w3-quarter w3-round w3-opacity w3-hover-opacity-off" v-bind:src="'img/slider-' + bio[currentChar].picture + '4.jpg'" v-on:click="showDivs(4)">
							</div>
							
							<div class="w3-container" v-show="show">
								<h3 class="w3-center">{{ bio[currentChar].name }}</h3>
								<p><i>Вид:</i> {{ bio[currentChar].species }}</p>
								<p><i>Статус:</i> {{ bio[currentChar].status }}</p>
								<p><i>Принадлежность:</i> {{ bio[currentChar].pack }}</p>
								<p><i>Родители:</i> {{ bio[currentChar].parents }}</p>
								<p><i>Братья/сёстры:</i> {{ bio[currentChar].siblings }}</p>
								<p><i>Отношения:</i> {{ bio[currentChar].partner }}</p>
								<p><i>Дети:</i> {{ bio[currentChar].children }}</p>
								<p>{{ bio[currentChar].about }}</p>
								<button class="w3-button w3-right" v-on:click="closeBio"><img src="img/roll-y.png" class="size color filter"></button>
							</div>
						</div>		
					</div>
				</section>
			
				<section class="w3-col w3-container m8 l8 s12 page-left" v-show="pageIndex === 2">
					<div class="w3-teal w3-panel w3-border w3-center w3-round-xlarge w3-hide-large">
						<h1>Саундтрек</h1>
					</div>
					<div class="w3-row w3-teal w3-panel w3-border w3-round-xlarge">
						<div class="w3-col leftmusic" style="width: 50%">
							<img src="img/listen-ost.jpg" class="w3-round w3-image cover">
							<a target="_blank" href="https://bit.ly/2GZIxqu" class="w3-button w3-white w3-round-large" style="width: 100%; margin-top: 10px" title="Скачать бесплатно с нашего Google Drive"><b>СКАЧАТЬ</b></a>
							<a target="_blank" href="https://bit.ly/3iU6zR0" class="w3-button listen" title="Слушать бесплатно на YouTube"><img src="img/listen-youtube.png" style="width: 100%"></a>
							<a target="_blank" href="https://apple.co/3nKyczS" class="w3-button listen" title="Слушать с подпиской в Apple Music"><img src="img/listen-apple.png" style="width: 100%"></a>
							<a target="_blank" href="https://spoti.fi/34a669k" class="w3-button listen" title="Слушать с подпиской в Spotify"><img src="img/listen-spotify.png" style="width: 100%"></a>
						</div>
						<div class="w3-col rightmusic" style="width: 50%">					
							<h3>Альфа и Омега: Саундтрек к фильму (2010)</h3>
							<h4 style="display: none">Альфа и Омега: Саундтрек к фильму (2010)</h4>
							<p>Композитор - Крис Бэкон</p>
							<p>Cписок композиций:</p>
							<ul>	
								<li>Pre Teen Wolves</li>
								<li>Main Titles</li>
								<li>Candu Was Jumped</li>
								<li>Humphrey's Crew</li>
								<li>Garth</li>
								<li>Wolfnapped</li>
								<li>Idaho or Bust</li>
								<li>The Golfing Goose</li>
								<li>Flying Fowl</li>
								<li>Searching for Kate</li>
								<li>Eat Food, Get Gas</li>
								<li>Tails It Is</li>
								<li>Garth and Lilly</li>
								<li>Bears!</li>
								<li>Love Train</li>
								<li>Time's Up</li>
								<li>I've Had Fun</li>
								<li>Unite The Packs</li>
								<li>Alphas and Omegas</li>
								<li>Take the Valley</li>
								<li>Requiem for Kate</li>
								<li>Big Finish</li>
							</ul>
						</div>	
					</div>
				</section>

				<section class="w3-col w3-container m8 l8 page-left" v-show="pageIndex === 3">
					<div class="w3-teal w3-panel w3-border w3-center w3-round-xlarge w3-hide-large">
						<h1>О сайте</h1>
					</div>
					<div class="w3-teal w3-panel w3-border w3-round-xlarge">
						<div class="forVisitor" style="padding: 2%">
							<h3 class="w3-center">Привет, дорогой друг!</h3>
							<p>В этом разделе я, Nomad_Wolf, хочу рассказать о сайте, его предназначении и будущих изменениях. Попробую сделать это
							в виде ответов на вопросы. Список будет пополняться со временем.
							</p>
							<h4>1) Почему у сайта такой странный адрес?</h4>
							<p>Сайт пока не расположен на полноценном хостинге, а находится лишь на бесплатной площадке GitHub Pages, 
							которая используется разработчиками для демонстрации/тестирования проектов. Поэтому адрес сайта и не имеет
							привычный вам вид.</p>
							<h4>2) Описание фильмов на английском, а весь остальной сайт на русском. Почему?</h4>
							<p>Данные официальные описания взяты со страниц фильмов в iTunes, к сожалению, существуют они лишь 
							в английском варианте. Описание на русском присутствует только у первой части, но его качество оставляет желать
							лучшего. Постараюсь сделать свои описания как можно скорее...</p>
							<h4>3) Если это фан-сайт мультфильма, то будут ли здесь выкладываться фанфики по нему?</h4>
							<p>Нет. Я не ставлю себе цель делать из сайта библиотеку фанфиков. Вы можете прочитать множество интересных работ
							по Альфе и Омеге на специальных созданных для этого сайтах: Ficbook, FanFiction, фан-сообщества ВКонтакте. Там же
							вы можете держать связь с авторами и поддерживать их творчество.</p>
							<h4>4) Сайт некорректно отображается на моём устройстве. Что делать?</h4>
							<p>Возможно, вы зашли на сайт в тот момент, когда я вношу в него правки. Это значит, что изменения ещё не вступили
							в силу, и происходит конфликт между старой и новой информацией. В данном случае проблема с отображением решится в
							течение нескольких минут. Если же этого не произошло, вы можете сообщить мне о вашей проблеме, связавшись со мной
							(смотрите последний пункт). По возможности, укажите модель вашего устройства или пришлите снимок экрана.</p>
							<h4>5) У меня есть свой вопрос. Как получить на него ответ?</h4>
							<p>Вы можете связаться со мной, написав на электронную почту данного сайта, используя форму внизу страницы или 
							написав на этот адрес с любой используемой вами почты. В зависимости от вопроса, ответ на него будет либо размещён на 
							сайте (без упоминания ваших личных данных), либо отправлен вам ответным письмом.</p>
						</div>
					</div>
				</section>

				<section class="w3-col m4 l4 w3-hide-small w3-container page-right">
					<side-post
						v-for="side in sides"
						v-bind:key="side.id"
						v-bind:side="side"
					></side-post>
				</section>
			</main>
			
			<footer class="w3-teal responsive" style="font-size: 22px">
				<nav class="w3-bar">
					<a target="_blank" class="w3-bar-item w3-button w3-right footer-link" href="https://bit.ly/36eWxY4" title="Первая часть на YouTube"><img src="img/footer-youtube.png" class="size"></a>
					<a target="_blank" class="w3-bar-item w3-button w3-right footer-link" href="https://bit.ly/3dCa9OT" title="Наша группа ВКонтакте"><img src="img/footer-vk.png" class="size"></a>
					<a target="_blank" class="w3-bar-item w3-button w3-right footer-link" href="https://bit.ly/37gwCjt" title="Иностранные фанфики по Альфе и Омеге"><img src="img/footer-fanfiction.png" class="size"></a>
					<a target="_blank" class="w3-bar-item w3-button w3-right footer-link" href="https://bit.ly/2S5NMr1" title="Русскоязычные фанфики по Альфе и Омеге"><img src="img/footer-ficbook.png" class="size"></a>
					<a target="_blank" class="w3-bar-item w3-button w3-right footer-link" href="https://bit.ly/346d1Ao" title="Официальный сайт создателей Альфы и Омеги"><img src="img/footer-splash.png" class="size"></a>
				</nav>
				<div class="w3-center" style="padding: 5px">
					E-mail: <a href="mailto:fans.alphaandomega@gmail.com?Subject=About%20site" target="_top" style="text-decoration: none" title="Написать разработчику">fans.alphaandomega@gmail.com</a>
					<br/><br/>
					Designed by Nomad_Wolf (2020)
				</div>
			</footer>
		</div>
		
		<div class="w3-hide w3-center w3-white" id="sorry" style="padding: 2px">
			<h3>Фан-сайт Альфы и Омеги</h3>
			<p>Простите! Ваш экран<br/>
			слишком мал для этого сайта :(</p>
		</div>
		
		<script src="js/myVue.js"></script>
		
	</body>
</html>