html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-image: url(../../images/lightbg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	line-height: 1;
	color: white;
}

.dark {
	color: yellow;
	background-image: url(../../images/darkbg.png);
}	

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
	background: #888; 
}

::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

::-webkit-scrollbar-track-piece {
	background: transparent !important;
}

p {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}	

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Geneva, sans-serif;
}

.responsive {
	width: 100%;
	margin: auto;
}	

.logobar {
	height: 200px;
}

.special {
	height: 36px;
}	

.logo {
	width: 80%;
}	

.panel {
	padding: 2%;
}

.leftpart, .rightpart {
	width: 100%;
}

.w3-indigo {
	color: yellow !important;
}

.w3-dark-grey {
	color: orange !important;
}	

nav button {
	padding-left: 4px !important;
	padding-right: 4px !important;
}	

@media screen and (orientation: landscape) {
	.special {
		height: 48px;
	}	
	
	.panel {
		padding: 3px;
	}	
	
	.cover {
		height: 80vh;
	}
	
	.leftpart, .rightpart {
		padding: 2%;
	}	
	
	.leftpart {
		width: 35%;
	}
	
	.rightpart {
		width: 65%;
	}

	.nomargin {
		margin: auto;
	}	

}